@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=DM+Serif+Text:ital@0;1&family=Eagle+Lake&family=Oxygen:wght@300;400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --main-blue: #0A174E;
  --main-yellow: #F5D042;
  
  --neutral-offwhite: #F4F4F4;
  --neutral-lightgray: #D9D9D9;
  --neutral-darkgray: #333333;
  
  --tertiary-light-yellow: #FBE596;
  --tertiary-light-blue: #2B3A7A;

  --main-font: "Oxygen", sans-serif;
}

body{
  box-sizing: border-box;
  display: flex;
  gap: 2vw;
  font-family: var(--main-font);
  background: var(--main-blue);
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

aside.current-conditions {
  background-color: var(--tertiary-light-blue);
  color: var(--neutral-lightgray);
  border-radius: 0px 5% 5% 0px;
  padding: 0px 1rem 0px 1rem;
  flex: 1 0 18vw;
  height: 100vh;
  position: relative;
  bottom: 0px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

aside.current-conditions > img {
  width: 20vw;
  height: 30vh;
  scale: 1.2;
  align-self: flex-end;
}

aside.current-conditions > h1{
  font-size: 2.5rem;
  margin-left: 1rem;
}

aside.current-conditions > h2 {
  font-size: 2rem;
}

aside.current-conditions > h2{
  color: var(--main-yellow);
}

main{
  flex: 2 0 80vw;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

section.navBar {
  background: var(--main-yellow);
  padding: 2rem;
  border-radius: 40px;
  width: 85%;
  border: none;
  box-shadow: inset 0px 0px 5px var(--main-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.navBar:has(form input[type='search']:focus){
  box-shadow: 0px 20px 10px rgba(32, 32, 32, 0.44);
}

section.navBar form{
  display: flex;
  gap: 1vw;
  flex: 2 0 80%;
}

section.navBar form input[type='search'] {
  background: var(--main-blue);
  color: var(--main-yellow);
  border: none;
  padding: 0.5rem;
  border-radius: 40px;
  width: 40%;
}

section.navBar form input[type='search']:focus{
  outline: solid 1px var(--neutral-lightgray);
}
section.navBar form input[type='search']::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
}
section.navBar form input[type='search']::placeholder{
  content: url(./assets/location_on_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
  position: absolute;
  top: 10%;
  opacity: 0.5;
  font-size: 16px;
  }

section.navBar form img{
  cursor: pointer;
  transition: transform .3s ease , scale .2s ease;
}

section.navBar form img:hover{
  transform: rotate(45deg);
}

section.navBar form img:active{
  scale: 1.3;
}

.unit-switch {
  display: flex;
  align-items: center;
  position: relative;
  width: 80px;
  height: auto;
}

.unit-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.unit-switch label {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background-color: var(--tertiary-light-blue);
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  box-shadow: inset 0 0 5px var(--main-blue);
  transition: background-color 0.3s ease;
}

.unit-switch label .unit-C,
.unit-switch label .unit-F {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  z-index: 2;
  width: 50%;
  text-align: center;
  pointer-events: none;
  color: var(--main-blue);
}
.unit-switch label .unit-F{
  color: var(--neutral-offwhite);
}

.unit-switch label .unit-C {
  left: 0;
}

.unit-switch label .unit-F {
  right: 0;
}

.unit-switch label .slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background-color: var(--tertiary-light-yellow);
  border-radius: 50px;
  transition: 0.3s;
}

/* Toggle when checked */
.unit-switch input:checked + label .slider {
  transform: translateX(32px);
  background-color: var(--tertiary-light-yellow);
}

.unit-switch input:checked + label .unit-C {
  color: var(--neutral-offwhite);
}

.unit-switch input:checked + label .unit-F {
  color: var(--main-blue);
}


.next-seven-days,
.extra-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.next-seven-days > h2,
.extra-info > h2{
  color: var(--main-yellow);
}

.forecasts{
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.day-mini-forecast{
  width: calc(60vw/7);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  align-items: center;
  background: var(--tertiary-light-blue);
  border-radius: 50px;
  padding: 0.3rem;
  cursor: pointer;
  transition: transform .2s ease-in;
}
.day-mini-forecast:hover{
  transform: translateY(-10%);
}
.day-mini-forecast h3,
.day-mini-forecast span{
  color: var(--main-yellow);
}
.day-mini-forecast img{
  object-fit: cover;
  width: 40%;
  height: 30%;
}

.info-box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
}

.info-box{
  background-color: var(--main-yellow);
  border-radius: 50px;
  padding: 0px 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
}

.info-box h3 span{
  align-self: flex-start;
  font-size: 2rem;
  color: var(--neutral-darkgray);
}

.info-box > span{
  margin-right: 1rem;
  font-size: 1.4rem;
}

.info-box h3 img {
  scale: 1.4;
  margin-left: 0.5vw;
}

.info-box span{
  align-self: flex-end;
  font-size: 1.5rem;
  color: var(--tertiary-light-blue);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  bottom: 45%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  
  mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);

  animation: l13 1s infinite linear;
}

@keyframes l13 { 
  100% { transform: rotate(1turn); }
}


/* Small tablets / large phones */
@media (max-width: 1024px) {

  .loader{
    left: 45%;
  }
  body {
    flex-direction: column;
    gap: 1rem;
  }

  aside.current-conditions {
    width: 100%;
    flex: none;
    border-radius: 0 0 20px 20px;
    height: auto;
    padding: 1rem;
  }

  aside.current-conditions > img {
    width: 40vw;
    height: auto;
    align-self: center;
    scale: 1;
  }

  main {
    width: 100%;
    margin-top: 1rem;
  }

  section.navBar {
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  section.navBar form input[type='search'] {
    width: 60%;
  }

  .next-seven-days h2,
  .extra-info h2{
    margin-bottom: 5vh;
    font-size: 3rem;
    margin-left: 1rem;
  }

  .forecasts {
    gap: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 1rem;
  }

  .day-mini-forecast {
    width: 25%;
    height: 20vh;
  }
  
  .extra-info{
    width: 100%;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .info-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .info-box {
    width: 40%;
    padding: 1rem
  }
}

/* For Phones */
@media (max-width: 600px) {
  body {
    gap: 0.5rem;
  }

  aside.current-conditions {
    padding: 0.5rem;
    text-align: center;
  }

  aside.current-conditions > h1 {
    font-size: 2rem;
  }

  aside.current-conditions > h2 {
    font-size: 1.5rem;
  }

  aside.current-conditions > img {
    width: 60vw;
    height: auto;
  }

  section.navBar {
    width: 80%;
    padding: 1rem;
  }

  section.navBar form {
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
  }

  section.navBar form input[type='search'] {
    width: 60%;
    font-size: 1rem;
  }

  .unit-switch {
    display: flex;
    align-items: center;
    position: relative;
    width: 90px;
    height: auto;
  }

  .unit-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .unit-switch label {
    position: relative;
    right: 40%;
    display: block;
    width: 20vw;
    height: 40px;
    background-color: var(--tertiary-light-blue);
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0 0 5px var(--main-blue);
    transition: background-color 0.3s ease;
  }

  .unit-switch label .unit-C,
  .unit-switch label .unit-F {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    z-index: 2;
    width: 50%;
    text-align: center;
    pointer-events: none;
    color: var(--main-blue);
  }
  .unit-switch label .unit-F{
    color: var(--neutral-offwhite);
  }

  .unit-switch label .unit-C {
    left: 0;
  }

  .unit-switch label .unit-F {
    right: 0;
  }

  .unit-switch label .slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    background-color: var(--tertiary-light-yellow);
    border-radius: 50px;
    transition: 0.3s;
  }

  /* Toggle when checked */
  .unit-switch input:checked + label .slider {
    transform: translateX(32px);
    background-color: var(--tertiary-light-yellow);
  }

  .unit-switch input:checked + label .unit-C {
    color: var(--neutral-offwhite);
  }

  .unit-switch input:checked + label .unit-F {
    color: var(--main-blue);
  }

  .next-seven-days{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .day-mini-forecast {
    width: 70%;
    height: 15vh;
    margin: auto;
    padding-bottom: 10%;
  }
  .day-mini-forecast:hover{
    transform: translateY(-5%);
  }
  .day-mini-forecast img{
    width: 30%;
    height: 30%;
  }

  .forecasts {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .info-box-container {
    gap: 0.5rem;
    margin-left: -1rem;
    margin-bottom: 2rem;
  }

  .info-box h3 {
    font-size: 1.5rem;
  }

  .info-box span {
    font-size: 1rem;
  }
}

@media (min-width: 361px) and (max-width: 500px) {
  .unit-switch input:checked + label .slider{
    transform: translateX(40px);
  }

  .info-box-container {
    gap: 0.5rem;
    margin-right: 1.2rem;
    margin-left: -0.5rem;
  }

  .info-box h3 span{
    scale: 1;
  }
}
